body {
  height: 100vh;
  background-image: url("/images/test-dark.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

label {
  user-select: none;
  color: #ffffff;
  padding: 13px 10px 0 0;
}

.brand-logo {
  margin: auto !important;
}

.brand-logo-img {
  width: 70px;
}

.nav-button {
  width: 100px;
  text-align: center;
}

.nav {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 4px black;
}

.btn {
  border-radius: 13px;
}

.form-input {
  color: #ffffff;
}

.form {
  margin-top: 50px;
  padding: 25px;
  border-radius: 40px;
  /* background-color: rgba(0, 0, 0, 0.2); */
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  box-shadow: 0px 0px 10px black;
}

.form-element {
  display: flex;
  padding: 10px;
}

.login-body {
  margin: auto;
  width: 500px;
}

.creatorsbody {
  background-color: #ffffff;
  padding-left: 10%;
  padding-right: 10%;
  background-image: url("/images/clouds.jpg");
  width: 100vw;
  height: 140vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.createheader {
  color: #ffffff;
  font-size: 2em;
}

a {
  text-align: left;
}

.loginpage {
  color: #ffffff;
  text-align: center;
  font-size: 1.2em;
  display: inline-block;
}

.loginpage:hover {
  color: #d75b38;
  text-align: center;
  font-size: 1.2em;
  display: inline-block;
}
.nav-wrapper {
  font-family: "Fugaz One", cursive;
}
.user-view {
  text-align: left;
  background-image: url("/images/test-dark.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.name,
.email,
.brand-logo {
  user-select: none;
}

.sidenav-trigger {
  cursor: pointer;
}

.background {
  background-size: cover;
}

.App {
  text-align: center;
}
