body {
  height: 150vh;
  background-image: url("/images/cloud6.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

label {
  user-select: none;
  color: #ffffff;
  padding: 13px 10px 0 0;
}

.row {
  margin: 20px;
}

.card {
  border-radius: 25px;
  text-align: left;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.2);
}

.cardtwo {
  border-radius: 25px;
  text-align: center;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.2);
  padding-top: 2%;
  padding-bottom: 2%;
}
.cardThree {
  text-align: left;
  color: #ffffff;
  margin-left: 2%;
}
.card-action {
  border-bottom-right-radius: 25px !important;
  border-bottom-left-radius: 25px !important;
}

.brand-logo {
  margin: auto !important;
}

.brand-logo-img {
  width: 70px;
}

.nav-button {
  width: 100px;
  text-align: center;
}

.nav {
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 4px black;
}

.btn {
  border-radius: 13px;
}

.form-input {
  color: #ffffff;
}

.form {
  margin-top: 50px;
  padding: 25px;
  border-radius: 40px;
  /* background-color: rgba(0, 0, 0, 0.2); */
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(255, 255, 255, 0.1) 100%
  );
  box-shadow: 0px 0px 10px black;
}

.form-element {
  display: flex;
  padding: 10px;
}

.login-body {
  margin: auto;
  width: 500px;
}

.creatorsbody {
  background-color: #ffffff;
  padding-left: 10%;
  padding-right: 10%;
  background-image: url("/images/cloud6.jpg");
  width: 100vw;
  height: 140vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.createheader {
  color: #ffffff;
  font-size: 2em;
}

a {
  text-align: left;
}

.loginpage {
  color: #ffffff;
  text-align: center;
  font-size: 1.2em;
  display: inline-block;
}

.loginpage:hover {
  color: #d75b38;
  text-align: center;
  font-size: 1.2em;
  display: inline-block;
}
.nav-wrapper {
  font-family: 'Allan', cursive;

}
.user-view {
  text-align: left;
  background-image: url("/images/cloud6.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.name,
.email,
.brand-logo {
  font-size: 5em !important;
  font-family: 'Permanent Marker', cursive;
  color:rgba(215, 83, 50, 1) !important;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.4) !important;
  text-align:center !important;

}
.brand-logo-two {
  font-size: 2em !important;
  font-family: 'Permanent Marker', cursive;
  color:rgba(215, 83, 50, 1) !important;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.4) !important;
  text-align:center !important;

}

.sidenav-trigger {
  cursor: pointer;
}

.input_holder{
margin-left: 20%;
margin-right:20%;
}
.background {
  background-size: cover;
}

.App {
  text-align: center;
}

button {
  background: #d75b38;
}

.newlocationbutton {
  background: rgb(221, 215, 31);
}
